*{
box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
   color: antiquewhite;
   line-height: 1.5;
}

.conatiner{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.first{
    height: 90vh;
    background-color: rgb(76, 76, 76);
    border: solid 1px 1px 10px rgb(53, 51, 51);
    border-radius: 20px;
    
}

.second{
    height: 90vh;
     background-color: rgb(76, 76, 76);

    border-radius: 20px;
}

.Photo{
     
     text-align: center;
     margin-top: 10px;
     
}

.Photo p{
    margin-left: 60px;
    margin-right: 60px;
    color: rgb(205, 211, 25);
    box-shadow: 1px 1px 10px yellow;
    background-color: black;
    border-radius: 20px;
    
    
    
}
.Photo img {
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(23, 23, 22);
    height: 100px;
    width: 100px;

}

    
    


/* conatct */

.conatct{
    border-top: solid 2px black;
    margin-left: 30px;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 280px;
    border-bottom: solid 2px black;
    line-height: .5;
    

}
.lable{
    font-weight: 500;
    font-size: 0.8rem;
    color: aliceblue;
    margin-bottom: 20px;

}
.value{

    text-decoration: none;
    color: aliceblue;
}

.link{
   margin-left:120px;
   margin-top: 70px;
   

}
.linkdein,.git,.x ,.linkdein{
    text-decoration: none;


}
.link img{
   margin: 5px;
   height: 25x;
   width: 25px;
   box-shadow: 1px 1px 10px  rgb(76, 76, 76);
   transition-property: all;
}
.link img:hover{
       box-shadow: 1px 1px 10px rgb(119, 116, 116) ;
}

.second{
    height: auto;
    
}


/*  <!-- navigation bar --> */
.navigation a{
    font-style: oblique;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}
.navigation{
    
    text-align: start;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-bottom: solid 4px rgb(16, 16, 16);
    transition-property: all;
  
    
}
.navigation a:hover{
    color: yellow;
   
}


/* About */
#About{
    margin-left:20px;
    margin-right: 20px;
}

#About h2{
    border-bottom: yellow solid 5px;
    width: 80px;
}
#About p{
    font-style: italic;
    color: rgb(220, 226, 189);

}

/* skill */

#Skill {
    margin-left:20px;
    margin-right: 20px;
    border-bottom:2px solid black ;
    margin-left: 30px;
    perspective: 800px;
    
}   
#Skill h2{
    border-bottom: yellow solid 5px;
    width: 60px;
}   

.img{ 
    margin-top: 20px;
    margin: 20px;
    height: 120px;
    width: 120px; 
    background-color: rgb(126, 128, 108);
    border-radius: 30px;
    margin-bottom: 20px;
     box-shadow:1px 1px 10px  ;
    transition-property:all ;
}
.img:hover{
    background-color: rgb(237, 237, 54);
    transform: translateZ(10px);
    box-shadow:1px 1px 10px yellow ;
}


/* School */
#School{
    margin-left: 20px;
}
#School h2{
    border-bottom: rgb(255, 255, 0) solid 5px;
    width: 80px;
}
#School p{
    font-style: italic;
}

